.bgg3 img{
    width: 600px;
    margin-top: 60px;
    margin-left: 70px;
}

.title{
    font-family: 'Orelega One', cursive;
    font-size: 38px;
    margin-left: 12px;
}

.headpass{
    border-radius: 10px;
    font-family: 'Orelega One';
    margin-top: -220px;
    margin-left: 760px;
    width: 400px;
    height: 140px;
    background-color: #9fcefa;
    padding: 10px;
}

.namesfg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 2px 0px;
}

.namesfg input{
    border: none;
    outline: none;
    font-size: 18px;
    height: 30px;
    padding-left: 20px;
    margin-top: 10px;
}

.namesfg ::placeholder{
    background-color: white;
    color: rgb(132, 130, 130);
    font-size: 18px;
}

.names1fg{
    margin-left: 165px;
    padding-top: 16px;
    font-size: 22px;
}