.bgg5 img{
    width: 650px;
    margin-top: 50px;
    margin-left: 45px;
}

.titlenew{
    font-family: 'Orelega One', cursive;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headnew{
    border-radius: 10px;
    font-family: 'Orelega One';
    margin-top: -300px;
    margin-left: 800px;
    width: 390px;
    height: 160px;
    background-color: #a3ceee;
    padding: 10px;
}

.namesnew{
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.namesnew input{
    font-size: 18px;
    border: none;
    outline: none;
    width: 230px;
    height: 30px;
    padding-left: 12px;
    margin-left: 45px;
}

.namesnew ::placeholder{
    background-color: white;
    color: rgb(132, 130, 130);
    font-size: 18px;
}

.names1new{
    margin-left: 160px;
    margin-top: -7px;
    padding-top: 16px;
    font-size: 22px;
}

.names1new button{
    font-size: 18px;
    width: 70px;
    height: 27px;
    border: none;
    color: white;
    background-color: #035295;
    cursor: pointer;
}
